<?php

/* 
 * yeapf.config
 * YeAPF 0.8.54-10 built on 2017-01-31 17:17 (-2 DST)
 * Copyright (C) 2004-2017 Esteban Daniel Dortta - dortta@yahoo.com
 * YEAPF (C) 2004-2014 Esteban Dortta (dortta@yahoo.com)
 * This config file was created using configure.php
 * On 2017-02-13 at 22:40:22
 */

    $yeapfConfig['context']='C:/UwAmp/www/ScrumGs';
    $yeapfConfig['myself']='ScrumGs';
    $yeapfConfig['root']='C:/UwAmp/www/';
    $yeapfConfig['httpReferer']='C:/UwAmp/www/ScrumGs';
    $yeapfConfig['httpHost']='http://127.0.0.1';
    $yeapfConfig['yeapfDB']='C:/UwAmp/www/ScrumGs/db.csv';
    $yeapfConfig['searchPath']='C:/UwAmp/www//YeAPF;C:/UwAmp/www//YeAPF/includes;C:/UwAmp/www/YeAPF/develop;.';
    $yeapfConfig['homeURL']='/ScrumGs';
    $yeapfConfig['homeFolder']='/';
    $yeapfConfig['yeapfPath']='C:/UwAmp/www//YeAPF/includes';


?>